body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 65px;
  margin-top: 35px;
}
h2 {
  cursor: pointer;
}
.restaurant-list .well {
  background-color:   #dce6ef;
}
.restaurant {
  border: 1px solid #d9d9d9;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #f2f2f2;
  margin-top: 20px;

}
.restaurant-info {
  text-align: center;
}
.restaurant-info h4 {
  line-height: 160%;
  text-align: left;
  font-size: 15px;
}
.restaurant-list {
  text-align: center;
}
